{% extends "layout/index.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="articles">
        {% comment %} {{id}} {% endcomment %}
        <h1>{% translate "Les articles" %}</h1>
        {% for article in articles %}
            <div class="article">
                <div class="top-article">
                    <img src="{% static '/images/profile.png'%}" alt="profile_picture" width="40px" height="40px"/>
                    <div class="info">
                        <div class="left">
                            <h3>{{ article.user }}</h3>
                            <h4>{{ article.title }}</h4>
                        </div>
                        <h5>{{ article.publication_date }}</h5>
                    </div>
                </div>
                <p>{{ article.content }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}