{% extends "layout/index.html" %}
{% load i18n %}

{% block content %}
    <div class="chat">
        <h3>{% translate "Vous pouvez discuter avec notre chatbot si vous avez des questions" %}</h3>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="mail" placeholder="{% translate "Posez votre question" %}" />
            {% comment %} <label>{% translate "Mot de passe"%}</label>
            <input type="text" name="password" />{% endcomment %}
            <button>Envoyer</button>
        </form>
    </div>

{% endblock %}