{% extends "layout/index.html" %}
{% load i18n %}

{% block content %}
    <div class="newpost">
        <h3>{% translate "Ajouter de nouvelles publications" %}</h3>
        <form method="POST">
            {% csrf_token %}
            <label>{% translate "Titre" %}</label>
            <input type="text" name="mail" />
            <label>{% translate "Description" %}</label>
            <textarea name="description"></textarea>
            <button>{% translate "Publier" %}</button>
        </form>
    </div>
{% endblock %}