<!DOCTYPE html>
<html lang="en">
    {% load i18n %}

    {% get_current_language as language_code %}
    {% get_available_languages as LAN %}
    {% get_language_info_list for LAN as lan%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{ url }}
    {% for l in lan %}
        <a href="/{{l.code}}/{{global_route_name}}">{{l.name_local}}</a>
    {% endfor %}
    {% block content %}
    {{ bonjour }}
    {% translate "Bienvenue" %}
    {% endblock %}
</body>
</html>